body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #574949;
    color: #111;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_header {
    display: flex;
    align-items: center;
}

.right_header {
    display: flex;
    align-items: center;
}

#logo_name {
    margin-right: 20px;
}

button {
    background-color: darkblue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #001f3f;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#mainHero {
    margin-bottom: 20px;
}

#sort, #expenses {
    margin-top: 20px;
}

form {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#list h2 {
    margin-top: 20px;
}

#projectorList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.projector-card {
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#totalPrice {
    font-weight: bold;
    margin-top: 10px;
}
